src/main/mule/insertdb.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="28480655-37f4-4af7-888b-af603adee39d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="97d2647e-3213-40fc-b1eb-056351a08466" >
		<db:oracle-connection host="localhost" user="system" password="Oracle123" instance="orcl" />
	</db:config>
	<flow name="insertdbFlow" doc:id="71952718-64da-40a4-8f9c-3503935a7a77" >
		<http:listener doc:name="Listener" doc:id="74126eac-afc9-40dd-8e71-2f6306ba22c7" config-ref="HTTP_Listener_config" path="/insert"/>
		<logger level="INFO" doc:name="Logger" doc:id="f8fd28c6-9a0c-4553-9dbb-80bbb98f4e5a" message="...request recieved....logger1"/>
		<db:insert doc:name="Insert" doc:id="123ea3b7-408f-4027-8a7b-95ccb586b933" config-ref="Database_Config">
			<db:sql >insert into emp1(EMPNO) values (:EMPNO)</db:sql>
			<db:input-parameters ><![CDATA[{
  	EMPNO : payload. EMP_NO
}]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Transform Message" doc:id="b9bbdb71-25cd-470e-a7de-2efd109e8bdb" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status" : 200,
	"message":  "record created successfully"
	
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
